<!-- お気に入りにする -->
<%= form_for(current_user.favorite_items.build(faved_id: feed_item.id),remote: true) do |f| %>
<div><%= f.hidden_field :faved_id %></div>
<%= f.submit "favorite!", class: "btn btn-large btn-primary" %>
<% end %>
<% end %>