<!-- お気に入り解除 -->
<%= form_for(current_user.favorite_items.find_by(faved_id: feed_item.id),
html: { method: :delete },remote: true) do |f| %>
<div><%= f.hidden_field :faved_id %></div>
<%= f.submit "Unfavorite", class: "btn btn-large" %>
<% end %>